<div class="container-fluid" style="margin-top: 105px">

  <div class="row">
      <div class="col-md-4" *ngFor="let site of sites">
        <div class="card mb-4 box-shadow" style="background-color: #F9F9F9; height: 550px">
          <img class="card-img-top" src="{{site.image}}" alt="Card image cap" style="height: 300px; width:320px; margin:10px">
          <div class="card-body">
            <h4 class="card-title" id="titleCard" style="margin-bottom: 20px">{{site.name}}</h4>
            <p class="card-text">{{site.description}}</p>
            <span class="badge badge-pill badge badge-secondary" *ngFor="let type of site.type">{{type}}</span>

            <div class="row" style="margin-top: 20px">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#SiteModal" style="width: 300px; margin-left: 15px" (click)="onViewSite(site)">View</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<app-modal></app-modal>